h1{
    color: hsl(79, 69%, 13%);
font-size: medium;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
font-weight: bold;
text-align: center;
border-radius: 10px;
border-color: #fff;
border-width: 5px;
border-style: ridge;
font-size: 30px;

}

body{
    color: burlywood;
    background-image: url(background/106.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    position:relative;
    min-height: 100vh;
    width: 100%;

}

p{
border-style: ridge;
border-width: 5px;
border-color: darkslategrey;
border-radius: 10px;
padding: 5px;

}

h2{
    color: darkolivegreen;
}

.artist_image{
    border-radius: 120px;
    width: 250px;

}